src/main/resources/schemas/address/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/soap/address"
           xmlns:tns="http://example.com/soap/address"
           elementFormDefault="qualified">

    <xs:element name="findAddress">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cep" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addressResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="address" type="tns:address"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="address">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="cep" type="xs:string"/>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="complement" type="xs:string"/>
            <xs:element name="unit" type="xs:string"/>
            <xs:element name="district" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="stateCode" type="xs:string"/>
            <xs:element name="state" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>